/* ================================================
   General Styles
================================================ */
:root {
    --scale-factor: 0.7;
    --primary-color: #0095FF;
    --secondary-color: #FFDF70;
    --dark-accent: #004F88;
    --text-color: #333;
    --gray-text: #6F767B;
    --light-text: #FFF;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--text-color)
}

a, button {
    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

* {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}
/* ================================================
   Navbar Styles
================================================ */

.navbar, #topic {
    background-color: var(--primary-color);
    transition: all 0.5s;
    position: relative;
    align-items: center;

}
.navbar .navbar-brand{
    padding: 30px 0 0 30px;
}

.navbar-brand:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.navbar-brand .brand-logo,.navbar-image .nav-graphic   {
    height: auto;
}

/* ================================================
   Topic Section Styles
================================================ */

#topic h2, #topic h1,#registrationBtn {
    transition: all 0.3s ease-in-out;
}

#topic h1:hover, #topic h2:hover, #registrationBtn:hover {
    transform: scale(1.1);
}

.topic-image-center {
    margin: 0 auto;
    transform: translateY(-50px);
}


.text-content {
    text-align: left;
    transform: translateY(-50px);
}

.headline-primary {
    font-size: 2.5em;
    color: var(--light-text);
}

.headline-secondary {
    margin-bottom: 0.7em ;
    font-size: 1.5em;
    color: var(--secondary-color);
}

#topic.event-details {
    font-size: 18px;
}

.custom-graphic {
    position: absolute;
    bottom: -2.0em;
    right: 5.25em;
    width: calc(13.375em * var(--scale-factor));
    height: calc(13.375em * var(--scale-factor));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.custom-graphic img:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.custom-graphic img:nth-child(2) {
    z-index: 2;
    width: calc(9.1875em * var(--scale-factor));
    height: calc(5.5em * var(--scale-factor));
}
#registrationBtn{
    font-weight: 400;
    color: var(--primary-color);
}


/* ================================================
   Event Section Styles
================================================ */
.event {
    background-color:var(--dark-accent);
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--light-text);
}

/* ================================================
   Speaker Section Styles
================================================ */

#speaker{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.titles-second, .author {
    color: var(--gray-text);
    font-family: 'Lato', sans-serif;
}

.titles-second {
    font-size: 27px;
    line-height: 33px;
    letter-spacing: 0.1px;
}
.title-primary {
    color: var(--primary-color);;
    font-size: 51px;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.author{
    font-size: 18px;
}

.speaker-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 0 15px;

}

.speaker-card .speaker-image {
    width: 93px;
    height: 93px;
    transition: all 0.3s;
}

.speaker-card .speaker-image:hover {
    transform: scale(1.1);
}

.speaker-card h5 {
    margin-bottom: 5px;
}

/* ================================================
   Registration Section Styles
================================================ */
#registration {
    background-color: rgba(255, 148, 22, 0.20);
}

#registration .text-title {
    color: var(--primary-color);
    font-family: Roboto, serif;
    font-weight: 400
}
#registration .text-registration {
    color: var(--gray-text);
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 20px;
}

form input, form select, form .btn {
    transition: all 0.3s;
}
form label {
    font-weight: 700;
}

form input:focus, form select:focus {
    border-color: #FF4500;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.5);
}

.custom-btn {
    background-color: #38A3F1;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 60px;
    border-radius: 35px;
}

form .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    padding: 16px 0;
    border-radius: 35px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: #75D610;
    margin: 15% auto;

}

.modal-content p {
    margin-right: 8px;
    margin-top: 10px ;
}

.modal-content img {
    width: 20px;
    height: 20px;
    margin-top: 10px ;
}

/* ================================================
   Slider Section Styles
================================================ */
/*#slider .container {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/

#slider .container-fluid {
    padding: 0;
    margin: 0;
}

.carousel-inner, .carousel-item img {
    max-height: 600px;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
}



/* ================================================
   Footer Styles
================================================ */
footer {
    background-color: #052A44;
    font-size: 14px;
    padding: 60px 0;
    font-family: 'Montserrat', sans-serif;
}

footer h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 400;
}

footer a {
    color: inherit;
    text-decoration:none;
}
footer a .underline-wrapper{
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--primary-color);
        transition: width 1s ease;
    }

    &:hover::before,
    &:active::before{
        width: 100%;
    }

}
footer a:hover, footer a:active, footer a:focus {
    text-decoration: none;
}

footer a:hover img, footer a:active img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(75%) saturate(3818%) hue-rotate(170deg) brightness(90%) contrast(89%);
}
/* ================================================
   Miscellaneous Styles
================================================ */

.top-right-svg {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;;
    height: auto;
    z-index: 1000;
}

